.column-list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}
.column-list__content {
  display: flex;
  flex-direction: column;
  width: 285px;
}
.column-list__content img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 8px;
}
.column-list__text-title {
  font-size: 18px;
  font-weight: 700;
}

/*특별한 즐길거리를 찾아보세요*/
.column-list__special {
  margin-bottom: 60px;
}
.column-list__special .column-list__content {
  width: 385px;
}
.column-list__special-title {
  display: block;
  margin-bottom: 10px;
}
.column-list__special-subtitle {
  font-size: 13px;
}
