.top-bar {
  height: 55px;
  background: #222;
  display: flex;
  justify-content: center;
  align-items: center;
}
.top-bar span {
  color: #a3a3a3;
  text-decoration: underline;
  font-size: 14px;
  font-weight: 600;
}
